body{
    background-color: rgb(193, 191, 191);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    grid-auto-rows: minmax(100px, auto);
}

p, h5{
    border:2px solid black;
}


#elemento1{
    background-color: rgb(199, 140, 140);
}

#elemento2{
    background-color: rgb(142, 211, 163);
}

#elemento3{
    background-color: rgb(182, 182, 240);
    grid-column: 2/4;
    grid-row: 1;
}

#elemento4{
    background-color: rgb(158, 35, 35);
    color: white;
    grid-column: 2/4;
}

#elemento5{
    background-color: rgb(25, 135, 58);
    color: white;
    grid-column: 1;
    grid-row: 1/3;
    border-radius: 50px;

}

h5{
    background-color: rgb(75, 75, 174);
    color: white;
    grid-column: 3;
    grid-row: 1;
}

video{
    grid-column: 2;
    grid-row: 2;
}